html {
    scroll-padding-top: 1000px;
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-padding-top: 1000px;
}

#header-section {
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
    margin-top: -8px;
    position: fixed;
    justify-content: flex-end;
    top: 0;
    left: 0;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(161, 151, 151, 0.671);
    width: 100%;
    font-size: 25px;
    text-align: center;
    align-items: center;
    box-shadow: 0px 5px 100px rgb(167, 167, 167);
    height: auto;
}

/* #header-section :hover{
    background-color: gray;
} */

#left-top-header {
    font-family: 'Times New Roman', Times, serif;
    float: right;
    color: black;
    display: flex;
    margin-left: 70px;
    align-items: center;
}

#logo-header {
    padding-top: 10px;
    padding-right: 10px;
    width: auto;
    height: 85px;
    object-fit: contain;
}

#search-text {
    /* margin: 30px; */
    height: 25px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px 30px 5px 10px;
}

#search-button {
    position: relative;
    top: 5px;
    left: 240px;
    width: 20px;
    height: 20px;
}

#header-link {
    display: flex;
    padding: auto;
    list-style-type: none;
}

#header-link a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 40px;
    font-size: 20px;
    background-color: grey;

}

#header-link a:hover {
    background-color: rgb(73, 73, 73);;
}

#login-button {
    margin-right: 50px;
    font-size: 20px;
}

#login-button a {
    background-color: gray;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-radius: 40px;
}

#login-button a:hover {
    background-color: rgb(73, 73, 73);
}

#mainpage-title{
    background-color: blue;
    color:white;
    height: 20vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 100px 30vh 0 30vh;
    font-size: 35px;
}

#contact-section{
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellow;
    height: 10vh;
    justify-content: center;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 150px 200px;
}

.courses-top{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
}
.courses-top a{
    text-decoration: none;
    color: white;
}

.courses-top a:hover{
    text-decoration: underline;
}

.courses-top p{
    padding: 0 10px 0 0;
}

#courses-section{
    display: flex;
    flex-direction: row;
}

.courses-left{
    margin: 0 2vh 0 20vh;
    width: 30%;
    /* text-align: center; */
}
.courses-left-filter{
    width: 70%;
}
.courses-left h1{
    font-size: 20px;
}
.courses-left ul{
    width: auto;
    border: 1px solid gray;
    list-style-type: none;
    /* padding: 10px 10px 10px 40px; */
    padding: 0;
}

.courses-left .button-courses-filter{
    padding: 10px;
    margin: 0px;
    border: 1px solid rgb(148, 145, 145);
    background-color: gray;
    width: 100%;
    text-align: left;
    font-size: 18px;
}
.courses-left .active{
    background-color: blue;
    border: 1px solid blue;
    color: white
}
.courses-left li{
    text-decoration: none;
    padding: 10px;
    margin: -1px;
    border: 1px solid gray;
}
.courses-left li a{
    text-decoration: none;
}
.courses-left li :hover{
    /* margin: 10px; */
    /* padding: 10px 100px 12px 10px; */
    /* margin: 0 -1px -1px -10px; */
    text-decoration: underline;
    /* background-color: rgb(179, 173, 173); */
}

.courses-right{
    width: 70%;
    margin: 20px 5vh 0 0;
}

#courses-right-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#courses-right-content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    justify-items: center;
}

.courses-right-top-item p{
    font-size: 30px;
}
.courses-right-top-item select{
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
}

.courses-right-content-item{
    /* width: calc(25% - 12px); */
    width: auto;
    height: auto;
    text-align: center;
    padding: 12px 0;
}

.courses-right-content-item img{
    height: calc(100% - 200px);
    width: 100%;
    object-fit: cover;
}
/* #courses-right-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0 20px
} */