html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#header-section{
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(175, 172, 172);
    width: 100%;
    font-size: 25px;
    text-align: center;
    align-items: center;
    box-shadow: 0px 5px 100px rgb(167, 167, 167);
}
#left-top-header{
    font-family: 'Times New Roman', Times, serif;
    float: right;
    color: black;
    display: flex;
    margin-left: 70px;
    align-items: center;
}
#logo-header{
    /* padding-top: 20px; */
    padding-right: 20px;
    width: auto;
    height: 85px;
    object-fit: contain;
}
#search-text{
    /* margin: 30px; */
    height: 25px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px 30px 5px 10px;
}
#search-button{
    position: relative;
    top: 5px;
    left: 240px;
    width: 20px;
    height: 20px;
}
#header-link{
    display: flex;
    padding: auto;
    list-style-type: none;
}
#header-link a{
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 40px;
    font-size: 20px;
}
#header-link a:hover{
    background-color: grey;
}
#login-button{
    margin-right: 50px;
    font-size: 20px;
}
#login-button a{
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-radius: 40px;
}
#login-button a:hover{
    background-color: gray;
}
#welcome-section{
    background-color: white;
    height: 60vh;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}
#welcome-lable{
    margin-right: 100px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#welcome-lable h1{
    font-size: 50px;
}
#welcome-lable ul{
    list-style-type: none;
    padding: 0;
}
#welcome-lable li{
    font-size: 20px;
    margin: 10px 0 10px 0;
}
#welcome-section img{
    width: 48vh;
    height: 48vh;
    margin-left: 100px;
}
#course-section{
    background-color: aqua;
    height: 100vh;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 150px 0;
}
#news-section{
    background-color: aquamarine;
    height: 100vh;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 150px 0;
}
#teacher-section{
    background-color: blueviolet;
    height: 100vh;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 150px 0;
}
#reference-section{
    background-color: bisque;
    height: 100vh;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 150px 0;
}
#contact-section{
    background-color: yellow;
    height: 100vh;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 150px 0;
}
