html {
    scroll-padding-top: 1000px;
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-padding-top: 1000px;
}

#header-section {
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
    margin-top: -8px;
    position: fixed;
    justify-content: flex-end;
    top: 0;
    left: 0;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(161, 151, 151, 0.671);
    width: 100%;
    font-size: 25px;
    text-align: center;
    align-items: center;
    box-shadow: 0px 5px 100px rgb(167, 167, 167);
    height: auto;
}

#left-top-header {
    font-family: 'Times New Roman', Times, serif;
    float: right;
    color: black;
    display: flex;
    margin-left: 70px;
    align-items: center;
}

#logo-header {
    padding-top: 10px;
    padding-right: 10px;
    width: auto;
    height: 85px;
    object-fit: contain;
}

#search-text {
    /* margin: 30px; */
    height: 25px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px 30px 5px 10px;
}

#search-button {
    position: relative;
    top: 5px;
    left: 240px;
    width: 20px;
    height: 20px;
}

#header-link {
    display: flex;
    padding: auto;
    list-style-type: none;
}

#header-link a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 40px;
    font-size: 20px;
    background-color: grey;

}

#header-link a:hover {
    background-color: rgb(73, 73, 73);;
}

#login-button {
    margin-right: 50px;
    font-size: 20px;
}

#login-button a {
    background-color: gray;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-radius: 40px;
}

#login-button a:hover {
    background-color: rgb(73, 73, 73);
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    background-image: url('../image/Welcome-image.jpg');
    background-blend-mode: multiply;
    background-position: right;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

#welcome-lable {
    margin-left: 150px;
    /* margin-left: -200px; */
    margin-bottom: 150px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#welcome-lable h1 {
    color: rgb(0, 0, 100);
    font-size: 50px;
}

#welcome-lable ul {
    list-style-type: none;
    padding: 0;
}

#welcome-lable li {
    font-size: 30px;
    margin: 10px 0 10px 0;
}

#welcome-section img {
    width: 48vh;
    height: 48vh;
    margin-left: 100px;
}

#course-section {
    background-color: white;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 5vh 0;
    padding: 0 30vh 10vh 30vh;
    ;
}

#course-section h1 {
    color: black;
    font-size: 50px;
}

#course-section p {
    font-size: 20px;
}

#course-section div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 3rem;
    width: 100%;
    margin: 40px auto;
}

#course-section a {
    text-decoration: none;
}

#course-section a p {
    text-align: left;
}

.course-tile-image {
    width: 100%;
    flex-grow: 1;
}

#course-link {
    margin: 5vh auto;
    background-color: blue;
    border: 2px solid blue;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#news-section {
    background-color: white;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 5vh 0;
    padding: 0 30vh 10vh 30vh;
    ;
}

#news-section h1 {
    color: black;
    font-size: 50px;
}

#news-section p {
    font-size: 20px;
}

#news-section div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 3rem;
    width: 100%;
    margin: 40px auto;
}

#news-section a {
    text-decoration: none;
}

#news-section a h1 {
    font-size: 20px;
    text-align: left;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#news-section a p {
    text-align: left;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

}

.news-tile-image {
    height: 228px;
    width: 100%;
    flex-grow: 1;
    border-radius: 10px;
}

#news-link {
    margin: 5vh auto;
    background-color: blue;
    border: 2px solid blue;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#teacher-section {
    background-color: white;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 5vh 0;
    padding: 0 30vh 10vh 30vh;
    ;
}

#teacher-section h1 {
    color: black;
    font-size: 50px;
}

#teacher-section p {
    font-size: 20px;
}

#teacher-section div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 3rem;
    width: 100%;
    margin: 40px auto;
}

#teacher-section a {
    text-decoration: none;
}

#teacher-section a p {
    text-align: left;
}

.teacher-tile-image {
    width: 100%;
    flex-grow: 1;
}

#teacher-link {
    margin: 5vh auto;
    background-color: blue;
    border: 2px solid blue;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#reference-section {
    background-color: white;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 5vh 0;
    padding: 0 30vh 10vh 30vh;
    ;
}

#reference-section h1 {
    color: black;
    font-size: 50px;
}

#reference-section p {
    font-size: 20px;
}

#reference-section div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 3rem;
    width: 100%;
    margin: 40px auto;
}

#reference-section a {
    text-decoration: none;
}

#reference-section a p {
    text-align: left;
}

.reference-tile-image {
    width: 100%;
    flex-grow: 1;
}

#reference-link {
    margin: 5vh auto;
    background-color: blue;
    border: 2px solid blue;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#contact-section {
    background-color: yellow;
    height: 10vh;
    justify-content: center;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 150px 200px;
}