<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${news.title}"></title>
    <link rel="stylesheet" href="/css/contentPage.css">

</head>
<body>
    <section id="header-section">
        <div id="left-top-header">
            <a href="/homepage" target="_self">
                <img src="/image/Hust-logo.jpg" alt="Logo" id="logo-header" title="Quay về trang chủ">
            </a>
            <form>
                <img src="/image/search-button.png" id="search-button">
                <input type="text" placeholder="Tìm kiếm khoá học" id="search-text">
            </form>
        </div>
        <ul id="header-link">
            <li><a href="/homepage">Trang chủ</a></li>
            <li><a href="/news">Tin tức</a></li>
            <li><a href="">Khoá học</a></li>
            <li><a href="/teacherProfile">Giảng viên</a></li>
            <li><a href="">Thư viện</a></li>
            <li><a href="">Hỗ trợ</a></li>
        </ul>
        <div id="login-button" sec:authorize="!isAuthenticated()">
            <a th:href="@{/login/loginForm}">Đăng nhập</a>
        </div>
        <div sec:authorize="isAuthenticated()" id="isLogin">
            <div sec:authorize="hasRole('ROLE_admin')">
                <a th:href="@{/admin}" th:text="${fullname}" class="username-login"></a>

            </div>
            <div sec:authorize="hasRole('ROLE_giáo viên')">
                <a th:href="@{/teacher}" th:text="${fullname}" class="username-login"></a>
            </div>
            <div id="logout-button">
                <a th:href="@{/logout}">Đăng xuất</a>
            </div>
        </div>
    </section>
    <section class="mainpage-title">
        <div class="topPage" >
            <a href="/homepage"><p>Trang chủ</p></a><p>/</p><a href=""><p>Danh sách khoá học</p></a><p>/</p><p th:text="${course.name}"></p>
        </div>
        <div class="flex-row">
            <div class="course-title">
                <h1>Thiết kế mạng IP</h1>
                <p>Trang bị các kiến thức chuyên sâu về TCP/IP để xây dựng các hệ thống kết nối mạng IP phức tạp.</p>
                <p><strong>Ngày đăng tải khoá học:</strong> <em>12/02/2002</em></p>
                <form method="post">
                    <button type="submit">Đăng ký khoá học</button>
                </form>
            </div>
            <div id="image-course">
                <img src="/image/news/chuyen-doi-so-trong-giao-duc-dai-hoc.png">
            </div>
        </div>
    </section>
    <section id="course-section" th:object="${course}">
        <div class="list-container">
            <ul class="row-list">
                <li><a href="#description">Mô tả khoá học</a></li>
                <li><a href="#list-lesson">Đề cương khoá học</a></li>
                <li><a href="#teacher-course">Giáo viên giảng dạy</a></li>
            </ul>
        </div>
        <div id="description">
            
        </div>
        <div id="list-lesson">

        </div>
        <div id="teacher-course">

        </div>
    </section>
    <section class="related-course">
        
    </section>
    <section id="contact-section">
        <h1>Thông tin liên hệ</h1>
    </section>
</body>
</html>